[user]
  name = sekiya9311
  email = sekiya9311@gmail.com
	signingkey = 3F4876095D17F6DC
[core]
  autocrlf = input
  editor = nvim
[merge]
  ff = false
[pull]
  ff = only
[push]
  default = current
  autoSetupRemote = true
[commit]
	gpgsign = true
